{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ task['tName'] }}" {% endblock %}</h1>

<form method='POST'>
    <div class="form-group">
        <label for="tName">Task name</label>
        <input type = "text" name = "tName" placeholder = "task tName" class = "form-control" value="{{ request.form['tName'] or task['tName'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="tDescription">Content</label>
        <textarea name="tDescription" placeholder="Task description" 
        class="form-control">{{ request.form['tDescription'] or task['tDescription'] }}</textarea>
    </div>

    <div class="form-group"> <!-- Date input -->
        <label for="endDate">Due Date</label>
        <input type="text" name="endDate" placeholder="YYYY/MM/DD" 
                    class="form-control" value = "{{ request.form['endDate'] or task['endDate'] }}"></input>
    </div>

    <div class = "form-group">
        <button type = "submit" class = "btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=task['_id']) }}" method="POST">
    <input type="submit" value="Delete task"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this task?')">
</form>

{% endblock %}