{% extends 'base.html' %}
{% block content %}
    {%if tasks%}
    <h1>{% block title %} To-Do List by Flask {% endblock %}</h1>
        {% for task in tasks%}
            <a href="{{ url_for('task', task_id=task['_id']) }}">
                <h2>{{ task['tName'] }}</h2>
            </a>
            <span class="badge badge-primary">Due: {{ task['endDate'] }}</span>
            <div style="display: inline;">
                <a href="{{ url_for('edit', id=(task['_id'])) }}" class="badge badge-warning" style="display: inline;">Edit</a>
                <form action="{{ url_for('delete', id=task['_id']) }}" method="POST" style="display: inline;">
                    <button type="submit" class="badge badge-warning" class="button" onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
                </form>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No tasks available.</p>
    {% endif %}
{% endblock %}